.slider {
   position: relative;
}

.slider__container {
   overflow: hidden;
}

.slider__wrapper {
   overflow: hidden;
}

.slider__items {
   display: flex;
   transition: transform 0.5s ease;
   will-change: transform;
}

.slider_disable-transition {
   transition: none;
}

.slider__item {
   flex: 0 0 100%;
   max-width: 100%;
   user-select: none;
   will-change: transform;
}

/* кнопки влево и вправо */

.slider__control {
   position: absolute;
   top: 57%;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translateY(-50%);
   cursor: pointer;
}

.slider__control_hide {
   display: none;
}

.slider__control[data-slide="prev"] {
   left: 60px;
}

.slider__control[data-slide="next"] {
   right: 20px;
}

.slider__control::before {
   content: "";
   display: inline-block;
   width: 20px;
   height: 20px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
}

.slider__control[data-slide="prev"]::before {

}

.slider__control[data-slide="next"]::before {
   
}

/* индикаторы */

.slider__indicators {
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 15;
   display: flex;
   justify-content: center;
   margin: 0 15%;
   padding-left: 0;
   list-style: none;
}

.slider__indicators li {
   flex: 0 1 auto;
   box-sizing: content-box;
   width: 30px;
   height: 5px;
   margin-right: 3px;
   margin-left: 3px;
   text-indent: -999px;
   background-color: rgb(255 255 255 / 50%);
   background-clip: padding-box;
   border-top: 15px solid transparent;
   border-bottom: 15px solid transparent;
   cursor: pointer;
}

.slider__indicators li.active {
   background-color: rgb(255 255 255 / 90%);
}
